body{
  margin: 0;
  background-color: aliceblue;
}
span{
  font-size:x-large;
  font-weight: bolder;
}
input[type=text]{
  width: 500px;
  height:56px;
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 5px;
}



.first_class1 input[type=button]{  

  width: 100px;
  height: 59px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
nav{
  padding: 2px;
  background-color: rgb(117, 167, 167);
  height: fit-content;
  text-align: center;
  font-size:x-large;
  font-weight: bolder;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-bottom: 30px;
}

.first_class1 .first_class2{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.first_class1 .second_class2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first_class1 .second_class2 .todo{
  display: flex;
  margin-bottom: 17px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Delete_button{
  margin-left: 5px;
}

.text_area{
  overflow:auto;
  min-height: 56px;
  width: 500px;
  font-size: large;
}